.entity-card-container {
    background: white;
    border-radius: 0.75rem;
    box-shadow: 0 0.125rem 0.5rem 0 rgba(0, 0, 0, 0.08), 0 0.0625rem 0.125rem 0 rgba(0, 0, 0, 0.12);
    overflow: hidden;
    border: 1px solid #e5e6e7;
    height: fit-content;
    box-sizing: border-box;
} 